body {
  background: #EDF9FF;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.box {
  border: 1px solid #f9f9f9;
  padding: 30px 25px 10px 25px;
  background: #EDF9FF;
  margin: 30px auto;
  width: 360px;
}
h1.box-logo a {
  text-decoration:none;
}
h1.box-title {
  color: #000000;
  background: #EDF9FF;
  font-weight: 300;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  margin: -27px -26px 26px;
}
.box-button {
  border-radius: 5px;
  background: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  height: 51px;
  padding: 0;
  color: #000000;
  border: 0;
  outline: 0;
}
.box-register
{
  text-align: center;
  margin-bottom: 0px;
}
.box-register a
{
  text-decoration: none;
  font-size: 12px;
  color:#666;
}
.box-input {
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding-left: 10px;
  border-radius: 5px;
  width: 347px;
  height: 50px;
}
.box-input:focus {
    outline: none;
    border-color:#fff;
}
.sucess{
	text-align: center;
	color: black;
}
.sucess a {
	text-decoration: none;
	color: black;
}
p.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}

iframe {
  border: 0px solid black;
  width: 100%;
}

.output {
  background: #eee;
}
